/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header */
header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px;
	text-align: right;
}

.main-nav li {
	margin-left: 20px;
}

.main-nav li, .main-nav li a {
	display: inline-block;
}

.main-nav li a {
	text-decoration: none;
	color: #000;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: aqua;
	text-align: center;
	border-radius: 50%;
}